<form #f="ngForm" name="searchForm">
  <mat-form-field class="form-group">
    <mat-label>Product title</mat-label>
    <input ngModel matInput type="text" name="productTitle">
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Product price</mat-label>
    <input ngModel matInput type="text" name="productPrice">
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Product category</mat-label>
    <mat-select ngModel name="productCategory">
      <mat-option value="Category 1">Category 1</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">
    <mat-icon>search</mat-icon>Search
  </button>
</form>
